#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14171b;
}
body{
    margin: 0px;
    padding: 0px;
}
.container-page{
    margin: 0px;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.imgtest{
    width: 100px;
}
.container-climate{
    height: 704px;
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.contaier-carousel{
    height: 100%;
    width: 100%;
    background-color: #222831;
}
.current-carousel{
    border-radius: 16px;
}